@import "../media";
@import "../variables";
@import "../mixins";

.article {
  border-bottom: 1px solid $primary-color;

  &__img {
    object-fit: cover;
    object-position: center;
    height: 180px;
  }
  &__text {
    padding: rem(20);
    font-size: $sm;
    text-align: justify;

    @include media-md {
      padding: rem(0);

      &--title {
        margin-top: 0;
      }
    }  
  }

  &__categories {
    margin: 0;
    font-family: 'Josefin Sans';
  }

  &__author {
    &--img {
      width: rem(50);
      height: rem(50);
      border-radius: 50%;

      @include media-md {
        width: rem(30);
        height: rem(30);
      }  
    }
  }
  &__footer {
    display: inline-flex;
    align-items: center;
    padding-bottom: rem(20);
    gap: rem(10);
  }

  &__photo {
    padding-bottom: rem(20);
  }

  &__inner {
    @include media-md {
      display: flex;

      &--col-img {
        flex-shrink: 0;
        flex-basis: 40%;
      }

      &--col-text {
        padding: 0 rem(20);
      }
    }
  }

  &__pic {
    @include media-md {
      display: inline-flex;
      justify-content: space-between;
      gap: rem(50);

      &--inner {
        width: calc(100% - 50px);
      }
    }
  }

  &__btn-control {
    display: flex;
    justify-content: space-between;
  }
}