@import "../media";
@import "../variables";
@import "../mixins";

.siema {
  position: relative;
  width: 100%;
  height: 100%;

  &__item {
    position: relative;

    &--img {
      display: block;
      width: 100%;
      height: 80vh;
    }

    &-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: flex-end;
      z-index: 10;
      bottom: 5%;
      left: 25%;
      color: $second-color;
      max-width: 800px;
    }
    &-author {
      &--name {
        font-size: $sm;
        font-weight: 600;
      }

      &--img {
        width: rem(50);
        height: rem(50);
        border-radius: 50%;
      }
      
      &--date {
        font-size: $xs;
      }
    }
  }

  &__categories {
    font-size: $md;
    text-transform: uppercase;
  }

  &__title {
    font-size: $xxl;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }

  &__btn-more {
    color: $second-color;
    font-size: $md;
    text-transform: uppercase;
    padding: rem(15) rem(30);
    border-radius: rem(20);
    background-color: $brand-color;
    font-weight: 600;
    margin-bottom: rem(40);
   }
  
  &__btn {
    position: absolute;
    z-index: 9;
    bottom: 0;
    background-color: transparent;
    border: transparent;
    height: 100%;
    width: 20%;

    &--next {
      right: 0;
    }

    &--prev {
      left: 0;
    }
  }
}