@import "../media";
@import "../variables";
@import "../mixins";

.contacts {
  position: relative;
  height: 85vh;

  &__item {
    position: absolute;
    z-index: 401;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: rem(20);
    background-color: $brand-color;
    width: 80vw;

    &-title {
      font-size: $lg;
      color: $second-color;
      text-align: center;
      border-bottom: 1px solid $second-color;
    }

    @include media-md {
      width: 40vw;
    }
  }
}
