@import "../media";
@import "../mixins";

.lang {
  display: flex;
  align-items: center;
  opacity: .7;
  line-height: 1.3;
  gap: 0 rem(5);
  font-size: $xs;
  
  &__select {
    color: $white;
    border: none;
    background-color: transparent;
    font-weight: 600;
  }
}