@import "../media";
@import "../variables";
@import "../mixins";

.main-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darken($brand-color, 3);
  overflow-x: hidden;
  padding-top: rem(60);
  transition: 0.5s;
  @include media-xl {
    display: flex;
    width: 45%;
    position: relative;
    z-index: 0;
    padding-top: 0;
    overflow-x: visible;
    background-color: transparent;
  }

  &__items {
    padding-left: 0;

    @include media-xl {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    display: block;
    font-size: $lg;
    color: $white;
    text-align: left;
    padding: rem(8) rem(8) rem(8) rem(32);
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    @include media-xl {
      padding: rem(25) rem(12) rem(13);
      font-size: $sm;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: rem(8) solid transparent;
    }
  
    &:hover {
      background-color: $primary-color;
      border-bottom: rem(8) solid $primary-color;
      text-transform: uppercase;
      font-weight: 600;
      @include media-xl {
        background-color: inherit;
        border-bottom: rem(8) solid $primary-color;
      }
    }
  }
}

.closebtn {
  position: absolute;
  top: 3%;
  right: 7%;

  @include media-xl {
    display: none;
  }
}

.has-drop {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  gap: rem(150);
  @include media-md {
    justify-content: normal;
  }
  @include media-xl {
    gap: rem(10);
  }
}

.dropdown {
  &__content {
    overflow: hidden;
    background-color: darken($brand-color, 11);
    max-height: 0;
    max-width: rem(1200);
    transition: max-height 0.3s ease-out;
    z-index: 18;
  }
  
  &__item {
    display: block;
    text-align: center;
  }
}