@import "../media";
@import "../variables";
@import "../mixins";

.search {
  @include media-xl {
    display: block;
    width: 100%;
  }

  &__aside {
    position: relative;
    width: 100%;
    display: block;

    &-input {
      width: 96%;
      height: rem(33);
      padding-left: rem(10);
      border: none;
      border-radius: rem(17);
      background-color: lighten($brand-color, 35);
    }

    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $brand-color;
      border: none;
      border-radius: 50%;
      height: rem(35);
    }
  }
}