@import "../media";
@import "../variables";
@import "../mixins";

.sort {
  background-color: $white;
	padding: rem(15) 0;
  color: $black;
  &__inner {
    padding: rem(10) rem(20);
    @include media-xl {
      max-width: $container-xl;
      margin: 0 auto;
    }
  }

  &__select {
    @include media-md {
      display: none;
    }
  }

  &-select {
    display: block;
    width: 100%;
    font-size: $lg;
    font-family: 'Josefin Sans';
    padding: rem(10) rem(20);
    border: 1px solid darken($white, 25);
    border-radius: rem(5);
    // & option {
    //   font-weight: normal;
    //   font-family: 'Josefin Sans';
    // }
  }
  
  &__radios {
    display: none;
    @include media-md {
      display: flex;
      align-items: center;
    }
    
    &--title {
      font-family: 'Josefin Sans';
      font-size: $sm;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 rem(15) 0 0;
    }
  }

  .custom-radios {
    display: flex;
    align-items: center;
    
    &__item {
      & + & {
      margin-left: rem(15);
      }
    }

    input {
      @include visually-hidden;

      &:checked {
        & + label {
          background-color: transparent;
          border-color: $brand-color;
          color: $brand-color;
      
          &:hover {
          cursor: not-allowed;
          }
        }
      }
    }

    label {
      display: block;
      padding: 0 rem(30);
      height: rem(30);
      font-family: 'Josefin Sans';
      // font-size: $sm;
      // text-transform: uppercase;
      line-height: rem(30);
      border-radius: rem(15);
      border: 1px solid transparent;
      background-color: $second-color;
    
      &:hover {
      cursor: pointer;
      color: $brand-color;
      }
    }
  }
}