@import "../media";
@import "../variables";
@import "../mixins";

.subscribe {
  &__title {
    font-size: $lg;
    color: $brand-color;
    margin: rem(25) 0 0;
    border-bottom: 1px solid $brand-color;
  }

  &__label {
    display: block;
    font-family: 'Josefin Sans';
    font-weight: 600;
    margin: rem(17) 0 rem(5);
  }

  &__input {
    padding: rem(10);
    font-size: $sm;
    width: 92%;
  }

  &__submit {
    margin-top: rem(17);
    width: 100%;
    background-color: $brand-color;
    color: $second-color;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: rem(10);
    border-radius: rem(5);
  }

  &__subtitle {
    text-align: center;
    position: relative;
    
    &--text {
      position: relative;
      margin: 0 rem(10);
      padding: rem(10);
      background-color: $white;
			z-index: 2;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $black;
      opacity: .54;
      top: 50%;
      left: 0;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    
    & .socials__item {
      margin-right: rem(10);
      border-radius: 50%;
      background-color: $black;
      height: rem(16);

      &--facebook {
        background-color: $facebook;
      }
      &--twitter {
        background-color: $twitter;
      }
      &--pinterest {
        background-color: $pinterest;
      }
      &--behance {
        background-color: $behance;
      }
      &--dribbble {
        background-color: $dribbble;
      }
      &--instagram {
        background-color: $instagram;
      }
    }
  }
}