@import "../media";
@import "../variables";
@import "../mixins";

.user {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media-md {
    justify-content: end;
  }
}

.signin {
  position: relative;
  color: white;
  opacity: .7;
  font-size: $xs;
  font-weight: 600;
  gap: 0 rem(7);

  @include media-md {
    margin-left: 20px;
    padding: 0;

    &::before {
      @include strip;
      height: rem(25);
      opacity: .7;
    }
  }
}

.user-choise {
  display: flex;
  gap: 0 rem(25);
  margin-right: 15px;
}

.basket {
  position: relative;
  &__num {
    position: absolute;
    top: 15%;
    left: 30%;
    font-size: $sm;
    color: $white;
    font-weight: 600;
  }

  @include media-xl {
    &::before {
      @include strip;
      height: rem(35);
      opacity: .7;
      top: -20%;
      left: -35%;
    }
  }
}

.likes {
  display: none;

  @include media-xl {
    display: block;
    position: relative;

    &::before {
      @include strip;
      height: rem(35);
      opacity: .7;
      top: -20%;
      left: -50%;
    }
  }
}