article.article
  .article__inner
    .article__inner--col-img
      +img('articles-5','jpg', 'article__img', 'article__img')
      p.article__categories #inspiration
    .article__inner--col-text
      .article__text
        h2.article__text--title Food that actually taste better when you freeze
        p.article__text--excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore quod, similique explicabo sit maxime esse sunt, maiores ipsum quos voluptatem consectetur minus pariatur, cumque ea ducimus eligendi numquam obcaecati!
      div(class='article__footer article__author')
        +img('articles-2-author','jpg', 'james leman', 'article__author--img')
        .article__author--name James Leman


article.article
  .article__inner
    .article__inner--col-img
      +img('articles-6','jpg', 'article__img', 'article__img')
      p.article__categories #trip
    .article__inner--col-text
      .article__text
        h2.article__text--title Why it's amazing to date people who love traveling
        p.article__text--excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore quod, similique explicabo sit maxime esse sunt, maiores ipsum quos voluptatem consectetur minus pariatur, cumque ea ducimus eligendi numquam obcaecati!
      div(class='article__footer article__author')
        +img('articles-author-1','jpg', 'benjamin miller leman', 'article__author--img')
        .article__author--name Benjamin Miller


article.article
  .article__inner
    .article__inner--col-img
      +img('articles-7','jpg', 'article__img', 'article__img')
      p.article__categories #lifestyle
    .article__inner--col-text
      .article__text
        h2.article__text--title 5 useful tips for novice painters
        p.article__text--excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore quod, similique explicabo sit maxime esse sunt, maiores ipsum quos voluptatem consectetur minus pariatur, cumque ea ducimus eligendi numquam obcaecati!
      div(class='article__footer article__author')
        +img('articles-3-author','jpg', 'Henry Little', 'article__author--img')
        .article__author--name Henry Little


article.article
  .article__inner
    .article__inner--col-img
      +img('articles-8','jpg', 'article__img', 'article__img')
      p.article__categories #trip
    .article__inner--col-text
      .article__text
        h2.article__text--title 11 fantastic ways passionate
        p.article__text--excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore quod, similique explicabo sit maxime esse sunt, maiores ipsum quos voluptatem consectetur minus pariatur, cumque ea ducimus eligendi numquam obcaecati!
      div(class='article__footer article__author')
        +img('articles-2-author','jpg', 'James Leman', 'article__author--img')
        .article__author--name James Leman

.article__pic
  article(class='article article__pic--inner')
    +img('articles-9','jpg', 'article__img', 'article__img')
    p.article__categories #photography


  article(class='article article__pic--inner')
    +img('articles-5','jpg', 'article__img', 'article__img')
    p.article__categories #photography

.article__btn-control
  a(href='http://#' class='btn-control btn-control--prev') Prev
  a(href='http://#' class='btn-control btn-control--next') More