.flickr
  +img('tile-1','jpg', 'flickr__img1', 'flickr__item')
  +img('tile-2','jpg', 'flickr__img2', 'flickr__item')
  +img('tile-3','jpg', 'flickr__img3', 'flickr__item')
  +img('tile-4','jpg', 'flickr__img4', 'flickr__item')
  +img('tile-5','jpg', 'flickr__img5', 'flickr__item')
  +img('tile-6','jpg', 'flickr__img6', 'flickr__item')
  +img('tile-7','jpg', 'flickr__img7', 'flickr__item')
  +img('tile-8','jpg', 'flickr__img8', 'flickr__item')