.hero
  .hero__item
    .siema
      .siema__item 
        +img('hero','jpg', 'hero picture', 'siema__item--img')
        .siema__item-text
          p(class='article__categories siema__categories') inspiration
          h2(class='siema__title') 5 ways millenials can start building their future today
          a(href="http://#" class='btn-more siema__btn-more' ) read more

          +img('author', 'png', 'henry little', 'siema__item-author--img')
          p(class='siema__item-author--name') Henry Little
          <time class='siema__item-author--date' datetime="2020-09-25 10:00">September 25, 2020 10:00</time>
      .siema__item
        +img('articles_1','jpg', '10 things', 'siema__item--img')
        .siema__item-text
          p(class='article__categories siema__categories') lifestyle
          h2(class='siema__title') 10 Things to do to change your life forever
          a(href="http://#" class='btn-more siema__btn-more' ) read more

          +img('author', 'png', 'henry little', 'siema__item-author--img')
          p(class='siema__item-author--name') Henry Little
          <time class='siema__item-author--date' datetime="2020-09-25 10:00">September 25, 2020 10:00</time>
      .siema__item
        +img('articles-2','jpg', '10 things', 'siema__item--img')
        .siema__item-text
          p(class='article__categories siema__categories') photography
          h2(class='siema__title') 11 fantastic ways passionate
          a(href="http://#" class='btn-more siema__btn-more' ) read more

          +img('articles-author-1', 'jpg', 'james leman', 'siema__item-author--img')
          p(class='siema__item-author--name') James Leman
          <time class='siema__item-author--date' datetime="2020-08-28 21:00">August 28, 2020 21:00</time>
      .siema__item
        +img('articles-3','jpg', 'articles_3')

    button(class='siema__btn siema__btn--prev')
        +icon("arrow-left","siema__btn--icon")
    button(class='siema__btn siema__btn--next')
        +icon("arrow-right","siema__btn--icon")
