nav#mainMenu(class="main-menu")
  ul.main-menu__items
    a(href="#" class="closebtn" onclick="closeNav()")
      +icon("close", "icon-xl")
    li
      a(href="http://localhost:3000/index.html" class="main-menu__item") home
    li
      a(href="http://localhost:3000/portfolio.html" class="main-menu__item") portfolio
    li
      a(href="http://localhost:3000/blog.html" class="main-menu__item") blog
    li
      a(href="http://#" class="main-menu__item has-drop") pages
        +icon("plus", "icon-drop")
      ul.dropdown__content
        li
          a(href="http://#" class="main-menu__item dropdown__item") Service
        li
          a(href="http://#" class="main-menu__item dropdown__item") FAQ
        li
          a(href="http://#" class="main-menu__item dropdown__item") About
    li
      a(href="http://#" class="main-menu__item") shop
    li
      a(href="http://localhost:3000/contact.html" class="main-menu__item") contact

a(class="btn__menu topbar__menu" onclick="openNav()")
  +icon("menu","icon-xl")