mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)

mixin img(name, ext, alt, mod)
	- mod = mod || ''
	img(class=mod, srcset=`img/${name}.${ext}`, alt=`${alt}`)