a(href="http://#" class="socials__item socials__item--facebook")
  +icon("facebook","socials-icon")
a(href="http://#" class="socials__item socials__item--twitter")
  +icon("twitter","socials-icon")
a(href="http://#" class="socials__item socials__item--pinterest")
  +icon("pinterest","socials-icon")
a(href="http://#" class="socials__item socials__item--behance")
  +icon("behance","socials-icon")
a(href="http://#" class="socials__item socials__item--dribbble")
  +icon("dribbble","socials-icon")
a(href="http://#" class="socials__item socials__item--instagram")
  +icon("instagram","socials-icon")