sort.sort
  .sort__inner
    .sort__select
      select#sort-select(name='sort-select' class='sort-select')
        option(value='sort' class='sort-select__item') Sort
        option(value='photography' class='sort-select__item') Photography
        option(value='lifestyle' class='sort-select__item') Lifestyle
        option(value='trip' class='sort-select__item') Trip
        option(value='inspiration' class='sort-select__item') Inspiration
    .sort__radios
      //- h2.sort__radios--title Sort blog:
      .custom-radios
        .custom-radios__item
          input(type='radio' name='sort' id='all' checked)
          label(for='all') All
        .custom-radios__item
          input(type='radio' name='sort' id='photography' checked)
          label(for='photography') Photography
        .custom-radios__item
          input(type='radio' name='sort' id='lifestyle' checked)
          label(for='lifestyle') Lifestyle
        .custom-radios__item
          input(type='radio' name='sort' id='trip' checked)
          label(for='trip') Trip
        .custom-radios__item
          input(type='radio' name='sort' id='inspiration' checked)
          label(for='inspiration') Inspiration