form.subscribe
  h2.subscribe__title SUBSCRIBE
  label(for='username' class='subscribe__label') Name
  input(type='text', name='username' class='subscribe__input' placeholder='Igor Ten')

  label(for='email' class='subscribe__label') E-mail
  input(type='email', name='email' class='subscribe__input' placeholder='email@adress.com')

  label(for='phone' class='subscribe__label') Phone
  input(type='tel', name='email' class='subscribe__input' placeholder='+38012 345 67 89')

  input(type='submit', value='subscribe' class='subscribe__submit')

  p.subscribe__subtitle
    span.subscribe__subtitle--text or
  
  div(class='socials subscribe__socials')
    include ../includes/socials.pug