div(class="user-choise")
  .header__search
    +icon("lens", "icon-xl")
  
  .likes
    +icon("likes", "icon-xl")
  
  .basket
    +icon("basket", "icon-xl")
    div(class="has-badge has-badge--basket")
      span(class="basket__num") 7