.user
  div(class="lang topbar__lang")
    +icon("globe","globe__icon")
    select#language(name="lang" class="lang__select")
      option(value="eng" class="lang__item") ENG
      option(value="ua" class="lang__item") UA

  button(class="signin topbar__signin btn")
    +icon("signin","signin__icon")
    p SIGN-IN