@import "variables";
@import "media";
@import "mixins";


body {
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
}

select {
  appearance: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.svg-sprite {
  display:none;
}

ul {
  list-style-type: none;
  margin: 0;
}

.topbar {
  height: rem(40);
  background-color: darken($brand-color, 3);

  @include media-xl {
    background-color: $black;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 0 rem(20);
    margin: 0 auto;

    @include media-xl {
      max-width: $container-xl;
    }
  }

  &__socials {
    display: none;
    height: 100%;
    opacity: .7;
    margin-left: -10px;

    @include media-md {
      display: flex;
      align-items: center;
    }
  }
}

.icon {
  height: $icon;
  width: $icon;

  &-xl {
    height: $icon-xl;
    width: $icon-xl;
  }

  &-cart {
    margin-right: rem(10);
  }
}

.btn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;

  &__menu {
    @include media-xl {
      display: none;
    }
  }

  &-control {
    display: block;
    border: 1px solid $brand-color;
    border-radius: rem(15);
    padding: rem(5) rem(15);
    color: $brand-color;

    &--prev {
      display: none;

      @include media-md {
        display: block;
      }
    }

    &--next {
      width: 100%;
      text-align: center;

      @include media-md {
        width: min-content;
      }
    }
  }
}

.socials {
  &__item {
    padding: rem(10) rem(10);
  }
}

.header {
  height: rem(64);
  background-color: $brand-color;

  @include media-xl {
    background: transparent;
    background-image: linear-gradient($black 10%, $black 70%);
    position: relative;
    z-index: 7;
    opacity: .5;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 rem(20);
    margin: 0 auto;

    @include media-xl {
      max-width: $container-xl;
    }
  }

  &__search {
    display: none;

    @include media-xl {
      display: block;
    }
  }
}

.logo {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  @include media-xl {
    order: -1;
  }

}

.has-badge {
  position: absolute;
  width: $icon-xl;
  height: $icon-xl;
  border-radius: 50%;
  &--basket {
    background-color: $pink;
    top: -60%;
    right: -60%;  
  }
}

.hero {
  display: none;
  @include media-xl {
    display: block;
    width: 100%;
    height: 80vh;
    margin-top: -64px;
    &__item {
      height: 100%;
      position: relative;
    }
  }
}

.main {
  &__inner {
    padding: rem(20);

    @include media-xl {
      max-width: $container-xl;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    @include media-md {
      article:nth-child(even) {
        .article__inner--col-img {
          order: 1;
        }
      }
    }

    @include media-xl {
      width: 840px;
    }
  }

  &-aside {
    display: none;
    @include media-xl {
      display: block;
      width: 280px;
    }
  }
}

.flickr {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  @include media-md {
    flex-wrap: nowrap;
    gap: 0;
  }

  &__item {
    width: calc(100% / 2 - 30px );
  }
}

#mapId {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer {
  height: rem(40);
  background-color: darken($brand-color, 3);

  @include media-xl {
    background-color: $black;
  }
}