@import "variables";

@mixin media-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: $breakpoint-xl) {
    // max-width: $container-xl;
    @content;
  }
}

@mixin media-custom($width) {
  @media (min-width: $width) {
    @content;
  }
}