@function rem($size) {
	$remSize: $size / 16;
	@return #{$remSize}rem;
}

@mixin strip {
  position: absolute;
  content: "";
  width: rem(1);
  background-color: $white;
  left: -17%;
}

@mixin visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
  }