$brand-color: #3f51b5;
$primary-color: #2962ff;
$second-color: #f5f5f5;
$third-color: #212121;
$black:#191919;
$gray: #303030;
$pink: #ff4081;
$white: #fff;
$facebook: #3b5999;
$dribbble:  #ea4c89;
$twitter: #55acee;
$behance: #4c75a3;
$pinterest: #ff2e56;
$instagram: #34465d;
	

$xs: .75rem;
$sm: .875rem;
$norm: 1rem;
$md: 1.125rem;
$lg: 1.5rem;
$xl: 1.75rem;
$xxl: 2.625rem;
$base-offset: .5;

$icon: 1rem;
$icon-xl: 1.5rem;

$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-xl: 1170px;

$container-sm: 100%;
$container-md: 748px;
$container-xl: 1170px;