extends ../layout/layout.pug
block topbar
	include ../includes/topbar.pug
block header
	include ../includes/header.pug
block sort
	include ../includes/sort.pug
block content
	include ../includes/main-content.pug
//- block flickr
//- 	include ../includes/flickr-widget.pug
block footer
	include ../includes/footer.pug