extends ../layout/layout.pug
block topbar
	include ../includes/topbar.pug
block header
	include ../includes/header.pug
block map
	include ../includes/map-leaflet.pug
block footer
	include ../includes/footer.pug