
doctype html
block vars
html(lang="zxx")
    head
        meta(charset="UTF-8")
        //- meta(name="viewport" , content="width=device-width, initial-scale=1")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        title #{title}
        include ../includes/links.pug
    body
        include ../includes/mixins.pug

        .svg-sprite
          include ../../../build/img/svg/sprite.svg

        block topbar

        block header

        block hero

        block sort

        block content

        block map

        block flickr

        block footer
